@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  height: 80px;
  width: 70%;
  background-color: #333;
  border-radius: 3px;
  margin: 30px 0;
  color: white;
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Outfit', sans-serif;
}

#productsContainer {
  display: flex;
  width: 70%;
  margin-bottom: 30px;
}

/* Product Listing Section */
#products {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.sidebar{
  width: 40%;
  max-height: 50vh;
  border-radius: 5px;
  background-color: #eee;
  margin-left: 20px;
  padding: 15px;
  text-align: center;
}

.head {
  background-color: rgba(171, 15, 142, 0.8);
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
}

.foot {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: 1px solid #ccc;
}

.product-card {
  border: 3px solid black;
  box-shadow: 0px 30px 30px rgba(171, 15, 142, 0.8);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

.product-card img {
  max-width: 75%;
  height: auto;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #212529;
  padding: 5px 8px;
  font-size: 30px;
  border-radius: 3px;
  width: 60px;
  gap: 5px;
}

.fa-solid {
  color: #212529;
  font-size: 20px;
}

.cart p {
  font-size: 16px;
  background-color: red;
  color: white;
  border-radius: 22px;
  height: 20px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart {
  background-color: rgba(171, 15, 142, 0.8);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 0.7rem;
  padding: 0.4rem 0.8rem;
  margin-left: 4rem;
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
}

/* #product-details {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
} */


/* #cart-items {
  list-style: none;
  padding: 0;
} */

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.cart-item img {
  max-width: 50px;
  height: auto;
  margin-right: 0.5rem;
}

