@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  height: 80px;
  width: 80%;
  background-color: #333;
  border-radius: 5px;
  border: 4px solid #eb3484;
  margin: 30px 0;
  color: white;
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Outfit', sans-serif;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #212529;
  padding: 5px 8px;
  font-size: 30px;
  border-radius: 3px;
  width: 60px;
  gap: 5px;
}

.fa-solid {
  color: #212529;
  font-size: 20px;
}

.cart p {
  font-size: 16px;
  background-color: #eb3484;
  color: white;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  gap: 40px;
}

#Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.product-card {
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  width: 20vw;
  height: 40vh;
  box-shadow: 0 50px 50px #757676;
}

.product-card button {
  background-color: #333;
  border: 2px solid #eb3484;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  padding: 0.5rem 0.5rem;
  font-family: 'Outfit', sans-serif;
}

.product-card img {
  max-width: 80vw;
  max-height: 25vh;
}

.product-card .title .price{
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0px;
}

/* Cart Section */
.sidebar{
  position: absolute;
  top:0;
  left: 100%;
  width: 500px;
  height: 100vh;
  background-color: #fff ;
  display: grid;
  grid-template-rows:  1fr ;
  background: rgba(236, 240, 241, 0.9);
  overflow: auto;
}

.active .sidebar{
  left: calc(100% - 500px);
}

.active .cart{
  transform: translateX(-300px);
}

.head {
  background-color: #333;
  border: 4px solid #eb3484;
  height: 50px;
  padding: 10px;
  font-size: 22px;
  text-align: center;
  color: white;
}

.listCard li{
  display: grid;
  grid-template-columns: 150px repeat(3, 1fr);
  margin: 10px 5px;
  overflow: auto;
}

.listCard li div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.listCard li img{
  width: 100%;
  border: 1px solid #eb3484;
  border-radius: 25%;
}

.listCard button{
  width: auto;
  background-color: #fff;
  border: 1px solid #eb3484;
  border-radius: 50%;
  padding: 2px 5px;
}

.listCard .count{
  margin: 0 10px;
}

.checkOut {
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: (2, 1fr);
  border: 4px solid #eb3484;

}

.checkOut div{
  background-color: #fff;
  border: 2px solid #1C1F25;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  
}

.checkOut div:nth-child(2){
  background-color: #1C1F25;
  color: #fff;
}
